<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
		<aspNetCore processPath="dotnet" arguments="D:\Project\Baze2.Backend\Baze2.Backend\bin\Debug\net5.0\Baze2.Backend.dll" stdoutLogEnabled="true" stdoutLogFile="C:\LogFiles\aspnetcore-stdout">
            <environmentVariables>
                <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
                <environmentVariable name="CONFIG_DIR" value="f:\application_config" />
            </environmentVariables>
        </aspNetCore>
    </system.webServer>
</configuration>
